#container{
    display:grid;
    grid-template-columns:repeat(16,auto);
    grid-template-rows:repeat(16,auto);
    grid-gap:0px;
    width: 600px;
    height:600px;
    margin:auto;

}

.grid-box{
    background-color: grey;
    width: auto;
}

.grid-box:hover{
    background-color: yellow;
}

